.small-text{
	font-size: 12.2px;
}
.search-input{
	padding: 5px 5px;
    height: 39px;
    width: 215px;
    color: dimgray;
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: 1.5px;
}
.search-input:focus{
	outline: none;
}
.artwork-list{
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap; 
	padding: 0;
}
.artwork-list li{
	display: block; 
	font-size: 13px;
	list-style: none;
	height: 240px;
	width: 175px;
	margin: 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.img-wrapper{
	display: flex; 
	flex-direction: column;
	align-items: center;
}
.img-wrapper-empty{
	height: 140px;
	width: 170px;
	border: 0.3px solid dimgray;
	border-radius: 5px;
	display: flex;
	flex-direction: row; 
	justify-content: center;
	align-items: center;
}
img{
	max-height: 175px;
	max-width: 190px;
	text-align: center;
}
.popular-searches-wrapper{
	background: #f96a59;
    padding: 16px 34px;
    border-radius: 9px;
}
.popular-searches-wrapper p{
	color: white;
    letter-spacing: 1px;
}
.popular-searches{
	list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding: 0;
}
.popular-searches li {
	border: 2px solid white; 
	border-radius: 35px;
    width: 152px;
    background: #f96a59;
    padding: 6px 0px;
    color: white;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.3px;
    font-weight: lighter;
    margin: 0px 35px 14px 0px;
}
.popular-searches li:hover {
	background: white;
    color: #f96a59;
}
li.no-results{
	font-size: 12px;
	padding: 0;
	margin: 5px 0 0 0;
	color: dimgray;
}
.top100-detail-wrapper{
	display: flex;
	flex-direction: row;
}
.top100-detail-wrapper ul{
	padding: 0;
	list-style: none;
	background: gainsboro;
	width: 60%;
}
.top100-detail-wrapper ul li{
	font: lightgray;
	margin: 5px 5px;
	padding: 3px;
}
.top100-detail-wrapper ul li:hover{
	background: white;
}
.top100-detail-wrapper .detail-view{
	padding: 40px 0 0 90px;
	width: 40%;
}
.detail-img{
	max-width: 400px;
	max-height: 600px;
}



































